.profile-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100px;
  height: 32px;
  padding-left: 11px;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 13px;
  line-height: .9;
  font-weight: 500;
  font-style: normal;
  color: #FFF;
  text-decoration: none;
  transition: opacity .3s ease-in-out;
  opacity: 1;
}

.profile-btn:hover {
  opacity: .6;
}

.profile-btn__image {
  width: 26px;
  height: 26px;
  margin-left: 7px;
  border-radius: 50%;
  background-color: #313131;
  background-image: url('../../../images/profile-icon.svg');
  background-repeat: no-repeat;
  background-position: center;
}
