@import url('../../vendor/normalize.css');
@import url('../../vendor/fonts/fonts.css');

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #202020;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  color: #FFFFFF;
}

.page-container {
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 70px;
  box-sizing: border-box;
}
