.bookmark-btn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-image: url('../../../images/bookmark-icon-not-added.svg');
  background-color: transparent;
}

.bookmark-btn_is-added {
  background-image: url('../../../images/bookmark-icon-is-added.svg');
}

.bookmark-btn:hover {
  cursor: pointer;
}

.bookmark-btn:focus {
  outline: none;
}
